*{box-sizing: border-box;}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: auto;
}
/* tOUTE LA BARRE NAV */
nav{
    height: 70px;
    background-color: #fff;
}

/* LE TITRE WHITE */
.navTitle{
    padding-top: 15px;
    text-align: center;
    width: 40%;
    float: left;
}
.navTitle span{
    font-size: 25px;
    margin-left: 10px;
}
.navTitle span:nth-child(1){
    font-weight: 700;
}
.navTitle span:nth-child(2){
    font-weight: 600;
}
.navTitle span:nth-child(3){
    font-weight: 400;
}
.navTitle span:nth-child(4){
    font-weight: 300;
}
.navTitle span:nth-child(5){
    font-weight: 100;
}


/* LA LISTE A DROITE */
.listTitle{
    width: 60%;
    float: right;
    padding-left: 0px;
}
.listTitle ul{
    list-style: none;
    width: 100%;
    height: 100%;
}
.listTitle ul li a{
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
}
.listTitle ul li{
    float: left;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-right: 20px;
    height: 40px;
    padding-top: 10px;
    color: #545454;
    transition: color 0.1s ease;
}
.listTitle ul li:nth-child(7){
    border-right: #545454 1px solid;
    padding-right: 20px;
    font-weight: 900;
    color: black;
}
.listTitle ul li:nth-child(8){

}
.listTitle ul li:hover{
    color: black;
}



/* LE "THE BLOG". */
header{
    background-image: url(../img/clean_code_bg.jpg);
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    color: white;
    font-weight: normal;
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 0;
}
header p{
    color: #545454;
    margin: 0;
}

.h2Bold{
    font-weight: normal;
}


/* FAKE BOBY */
.fakeBody{
    width: 1100px;
    height: 2280px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
}


/* FAKE BOBY CONTENT LEFT */
.secondTextCostume{
    display: none;
    float: left;
}
.secondTextCostume p:first-child{
    color: #545454;
    margin-top: 15px;
}
.secondTextCostume p:last-child{
    margin-top: 15px;
    font-weight: 600;
    color: black;
}
.leftContent{
    width: 75%;
    height: 100%;
    float: left;
}

.fakeBody > div:first-child > div{
    height: 390px;
    margin-bottom: 50px;
}

.littleChildLeftContent{
    height: 100%;
    width: 55%;
    padding-right: 20px;
    float: left;
}
.littleChildLeftContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.littleChildRightContent{
    height: 100%;
    width: 45%;
    float: left;
}
.littleChildRightContent p{
    color: #545454;
    margin-top: auto;
}
.littleChildRightContent h1{
    font-weight: 100;
}
.littleChildRightContent ul{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 0;
    float: left;
    width: 100%;
}
.littleChildRightContent ul li{
    float: left;
    color: #545454;
}
.littleChildRightContent ul li:nth-of-type(1){
    padding-right: 10px;
}
.littleChildRightContent ul li:nth-of-type(2){
    border-right: 1px solid #545454;
    border-left: 1px solid #545454;
    padding: 0 10px;
}
.littleChildRightContent ul li:nth-of-type(3){
    padding-left: 10px;
}
.littleChildRightContent p:nth-of-type(2){
    float: left;
    padding-top: 30px;
    border-top: #545454 2px solid;
}
.littleChildRightContent p:nth-of-type(3){
    font-weight: 600;
    color: black;
    float: left;
}

#pageNumber{
    width: 55%;
    height: 50px;
    display: flex;
    justify-content: center;
}

#pageNumber span{
    width: 50px;
    height: 100%;
    color: #545454;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pageNumber span:nth-of-type(3){
    color: black;
    border: black 1px solid;

}



/* FAKE BOBY CONTENT RIGHT */
.rightContent{
    width: 25%;
    height: 100%;
    float: left;
    padding-left: 10px;
}

/* Div de la list */
.fakeBody > div:last-child > div:first-child{
    height: 250px;
    border: none;
}
.listContent{
    list-style: circle;
    list-style-position: inside;
    margin-top: 0;
    padding-left: 0;
}
.listContent li{
    color: #545454;
    border-top: #545454 1px solid;
    border-right: none;
    border-left: none;
    padding: 10px 0;
    padding-left: 10px;
}
.listContent li:last-child{
    border-bottom: #545454 1px solid;
}


/* Div de popular posts */
.fakeBody > div:last-child > div:nth-of-type(2){
    height: 900px;
    border-bottom: 1px #545454 solid;
}
.rightContent > div:nth-of-type(2) h2{
    font-weight: normal;
}
.rightContent > div:nth-of-type(2) img{
    width: 100%;
}
.rightContent > div:nth-of-type(2) p:nth-of-type(2n + 1){
    margin-bottom: 10px;
}
.rightContent > div:nth-of-type(2) p:nth-of-type(2n + 2){
    font-size: 11px;
    color: #545454;
    margin-bottom: 30px;
    margin-top: 0px;
}


/* Div Popular Tags */
.rightContentTags{
    height: 250px;
}
.rightContentTags h2{
    font-weight: normal;
}
.flexTags{
    display: flex;
    flex-wrap: wrap;
}
.flexTags div{
    border: #545454 1px solid;
    padding: 10px;
    margin: 0 5px 5px 0;
    min-width: 75px;
}
.flexTags div p{
    text-align: center;
    margin: auto;
    color: #545454;
}

/* Div About Blog */
.rightContent > div:nth-of-type(4) h2{
    font-weight: normal;
}
.rightContent > div:nth-of-type(4) p{
    color: #545454;
}



/* footer */
footer{
    height: 500px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > div{
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    
}
footer div h2{
    color: white;
    margin-top: 0;
}
.IMGfooterLeft{
    width: 100%;
    margin-top: 30px;
    float: left;
}
.IMGfooterLeft div{
    float: left;
}
.IMGfooterLeft div:first-child{
    width: 20%;
    height: 55px;
}
.IMGfooterLeft div:first-child img{
    width: 100%;
    height: 100%;
}
.IMGfooterLeft div:last-child{
    width: 75%;
    height: 55px;
    float: right;
}
.IMGfooterLeft div:last-child p{
    color: white;
    margin: 0;
}
.IMGfooterLeft div:last-child p:first-child{
    color: #777777;
}
.IMGfooterLeft div:last-child p:last-child{
    font-size: 12px;
    color: #545454;
    margin-top: 5px;
}



footer > div:nth-of-type(2) p{
    color: #777777;
    line-height: 30px;
}
footer > div:nth-of-type(2) ul{
    padding: 0;
    list-style: none;
}
footer > div:nth-of-type(2) li{
    float: left;
    margin-right: 10px;
    border: #3a3a3a 1px solid;
    width: 50px;
    padding: 10px;
    text-align: center;
}
footer > div:nth-of-type(2) li i{
    color: #3a3a3a;
    font-size: 30px;
}
footer > div:last-child input{
    background-color: transparent;
    border: #3a3a3a 2px solid;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left: 10px;
    color: #777777;
}
footer > div:last-child textarea{
    height: 100px;
    background-color: transparent;
    border: #3a3a3a 2px solid;
    width: 100%;
    margin-top: 10px;
    color: #777777;
    padding-top: 10px;
    resize: none;
    font-weight: bold;
    padding-left: 10px;
}
footer > div:last-child button{
    background-color: transparent;
    border: #3a3a3a 2px solid;
    margin-top: 10px;
    color: #777777;
    font-weight: 900;
    padding: 15px 15px;
    padding-left: 10px;
}


@media(max-width: 1100px){
    .fakeBody{
        flex-direction: column;
        height: 4000px;
        width: 90%;
        padding-left: 100px;
    }
    .rightContent, .leftContent{
        width: 100%;
    }
    .rightContent > div:nth-of-type(2) img{
        width: 30%;
        float: left;
    }
    .rightContent > div:nth-of-type(2) div > p:nth-of-type(1){
        margin-top: 0;
    }
    .rightContent > div:nth-of-type(2) div{
        float: left;
        padding-left: 30px;
    }
    .clear{
        clear: left;
        height: 100px;
        width: 100%;
    }
    footer{
        height: 1300px;
        flex-direction: column;
    }
}
@media(max-width: 800px){
    header h1{
        color: white;
        font-weight: normal;
        font-size: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }
    header p{
        color: #545454;
        margin: 0;
        font-size: 14px;
    }
    .listTitle{
        clear: both;
        float: none;
        padding-left: 20px;
    }
    .listTitle ul{
        padding-left: 0;
    }
    .listTitle ul li{
        clear: both;
    }
    .fakeBody{
        flex-direction: column;
        height: 3030px;
        width: 90%;
        padding-left: 0px;
    }
    .fakeBody > div:first-child > div {
        height: 100px;
        margin-bottom: 50px;
    }
    .littleChildRightContent{
        width: 70%;
    }
    .littleChildRightContent h1{
        font-size: 17px;
        margin-top: 5px;
    }
    .littleChildRightContent p{
        display: none;
    }
    .littleChildRightContent p:first-of-type{
        display: block;
        margin: 0;
        font-size: 12px;
    }
    .littleChildRightContent ul li{
        font-size: 13px;
    }
    .littleChildLeftContent{
        width: 30%;
        height: 100px;
    }
    .secondTextCostume{
        display: block;
        margin-bottom: 50px;
    }
    .fakeBody > div:last-child > div:nth-of-type(2){
        height: 680px;
    }
    .rightContent, .leftContent{
        width: 100%;
        height: 1620px;
    }
    .rightContent > div:nth-of-type(2) img{
        width: 30%;
        float: left;
    }
    .rightContent > div:nth-of-type(2) div > p:nth-of-type(1){
        margin-top: 0;
    }
    .rightContent > div:nth-of-type(2) div{
        float: left;
        padding-left: 30px;
        width: 70%;
    }
    .clear{
        clear: left;
        height: 100px;
        width: 100% !important;
    }
    footer{
        height: 1000px;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }
    footer > div{
        min-width: 90%;
        max-width: 90%;
        min-height: 250px;
        margin-top: 30px;
    }
}